<% provide(:title,'Help') %>
			<h1>Help</h1>
			<p>
			Get help on the ruby on rails tutorial at the:
			<a href="http:railstutorial.org/help">rails tutorial help page</a>
			<a href="http:railstutorial.org/book">rails tutorial app</a>
			</p>
